.motto {
  background-color: #2f303a;
}

.skills {
  background-color: #e5e5e5;
}

.what-we-do {
  background-color: #e5e5e5;
}

.our-team {
  background-color: #f5f4fa;
}

footer {
  background-color: #2f303a;
  color: #fff;
}
